* {
  box-sizing: border-box;
}

body {
  right: 0;
  margin: 0;
  position: relative;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color:white;
}

a{
	color:#19FFFF;
	text-decoration:none;
	
}
a:hover{
	text-style:underline;
	}

.menu {
  left: -100%;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0px;
  background-image: url('img/Menu.jpg');
  background-size: cover;
}



.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 2px solid white;
  border-radius: 100px;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;

}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;;
}

.menu-item {
	border-bottom:2px solid white;
	height:25px;
	width:100%;
	}
	
.menu-item:hover .overlay{
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.5;
	}

.submenu {

visibility: hidden;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  text-transform: uppercase;
  float:left;
  top:10px;
  margin-left: 5px;
  cursor: pointer;
  position:fixed;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron {
background-image:url("img/Jumbotron.jpg");
background-attachment: fixed;
height:500px;
background-size:cover;
padding: 30px 15px;
font-weight:bold;
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}



.logo{
	float:left;
	padding-top:20px;
}
.more-info{
	width:100%;
	margin:0px auto;

}
.info-item-1{
	width:100%;
	float:left;
	padding-left:3px;
}
.info-item-2{
	width:50%;
	float:left;
	padding-left:3px;
	padding-top:5px;
	}
.info-item-2 h1{
	font-size:16px;
	}



.footer{
	bottom:5px;	
	position:absolute;
	font-weight: normal;
	color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	}

/*for non mobile devices*/
@media only screen and (min-width: 600px)
{

.menu {
  left: -25%;
  height: 100%;
  position: fixed;
  width: 25%;
  top: 0px;
  background-image: url('img/Menu.jpg');
  background-size: cover;
}

.info-item-1{
	width:50%;
	float:left;
	padding-left:3px;
}
.info-item-2{
	width:33%;
	float:left;
	padding-left:3px;
	padding-top:5px;
	}

.footer{
	bottom:5px;	
	position:absolute;
	font-weight: normal;
	color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	}
}

/*for non mobile devices*/
@media only screen and (min-width: 768px)
{

.menu {
  left: -15%;
  height: 100%;
  position: fixed;
  width: 15%;
  top: 0px;
  background-image: url('img/Menu.jpg');
  background-size: cover;
}

.info-item-1{
	width:33%;
	float:left;
	padding-left:3px;
}
.info-item-2{
	width:25%;
	float:left;
	padding-left:3px;
	padding-top:5px;
	}

.footer{
	bottom:5px;	
	position:absolute;
	font-weight: normal;
	color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	}
}